.error{
  color :red;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Todo-App{
  padding-top: 20px;
  display: inline-block;
  text-align: left;
}
input{
  font-size: 20px;
}

ul{
  padding: 0;
}
li{
  list-style: none;
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
header {
  /*background: url(https://s29.postimg.org/501kwpx7r/334c68c298e6eb06bab3bf4876bea89c.jpg) repeat;*/
  width: 100%;
  height: 100px;
  /*height: 500px;*/
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.header {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC);
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  font-style: italic;
}

.inner {
  padding: 30px;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  /* IE8 proofing */
  color: rgba(255, 255, 255, .95);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #fff;
  border-bottom-color: #fff;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .navbar-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

@media (max-width: 768px) {
  .navbar-toggle {
    background: #000 !important;
  }
}

.tabStrip {
  background: #f3eee9;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.grey {
  background: grey;
}

.blue {
  background: #00BFFF;
}

.orange {
  background: #FF8C00;
}

.green {
  background: #6B8E23;
}

.tabStrip ul li a {
  color: #fff;
}

.tabStrip ul li a:hover {
  border: none;
  background: none;
}

.CountDownApp{
  margin-top:15%;
  margin-bottom:15%;
  font-size: 35px;
  text-align: center;
}

.CountDownAppTitle{
  front-size: 50px;
}

.Deadline-input{
  font-size: 25px;
  margin: 5px;
}